header{
  padding:  1rem;
  border-bottom: 1px solid #FFFFFF;
}

header a{
  max-width: 170px;
}

header a img {
  width: 100%;
  object-fit: contain;
}
.menu-container{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  gap: 15px;
}

.menu li a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
}

.menu li a:hover {
  transition: .3s;
  color: #F98E4C;
}