*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  background-color: #252525;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}

